$highlight: #3aa6ff;
@mixin shadow {
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
}

@mixin mix-transition($property, $duration, $transition:linear) {
  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $transition;
/* WebKit */
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $transition;
/* Opera */
  -o-transition-property: $property;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $transition;
/* Standard */
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $transition;
}