RewriteEngine On
RewriteRule ^extensions/(.*[png|jpg|gif]) extensions/$1 [last]
RewriteRule ^min/(.*) min/$1 [last]
RewriteRule ^static/(.*) static/$1 [last]
RewriteRule ^uploads/(.*) uploads/$1 [last]
RewriteRule !(index.php) /index.php

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>


