body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 125px;
}
#gabname {
    font-family: "Knewave", sans-serif;
    font-size: 72pt;
    color: black;
    text-shadow: 0px 2px 5px black;
}
#gabname a {
    color: black; text-decoration: none;
    text-shadow: none;
}
#gatname a:visited { color: black;}
a:active, a:focus {  outline: none;}


#gabsite_navlinks {
    position: absolute;
    bottom: -6px;
    left: 195px;
}

#gabsite_navlinks a {
    display: inline;
    text-decoration: none;
    padding-right: 25px;
    font-size: 12pt;
    color: black;
}

#gabsite_navlinks a.last {
    margin-right: 0px;
}

#gabsite_navlinks a:hover {
    color: #3aa6ff;
}

#gabsite_navsection {
    position: relative;
    height: 50px;
    padding-bottom: 0px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    body {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #posts_table .category {
        max-width: 57px;
        overflow: hidden;
    }

    #posts_table .id a {
        word-break: normal;
        width: 250px;
        overflow: hidden;
        display: inline-block;
    }
}